<template>
<div>
	
	<Dashboard></Dashboard>
	<router-view></router-view>
	
</div>
</template>
<script>
	import Dashboard from './DashboardComponent.vue';
	export default{
		data:function(){
			return{}
		},
		components:{
			'Dashboard': Dashboard
		}
	}
</script>