<template>
 <div>   
        <div class="main-wrapper">
        <div class="header">
            <div class="header-left">
                <router-link to="/dashboard" class="logo">
                    <img src="admin/img/Logo_Hospital.png" width="35" height="35" alt="">
                </router-link>
            </div>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
                            <img class="rounded-circle" src="admin/img/user.jpg" width="24" alt="Admin">
                            <span class="status online"></span>
                        </span>
                        <span>Admin</span>
                    </a>
                    <div class="dropdown-menu">
                        <router-link to="/profile/password" class="dropdown-item">My Profile</router-link>
                        <button class="dropdown-item" v-on:click="logout">Logout</button>
                    </div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <router-link to="/profile/password" class="dropdown-item">My Profile</router-link>
                    <button class="dropdown-item" v-on:click="logout">Logout</button>
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li class="active">
                            <router-link to="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</router-link>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-wheelchair"></i> <span> Patients </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                
                                <li><router-link to="/patientdetails/create">Create Component</router-link>
                                <li><router-link to="/patientdetails/index">Index Component</router-link></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-user-md"></i> <span> Doctors </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><router-link to="/doctordetails/create">Create Component</router-link></li>
                                <li><router-link to="/doctordetails/index">Index Component</router-link></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-calendar"></i> <span> Appointment </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><router-link to="/appointmentdetails/create">Create Component</router-link></li>
                                <li><router-link to="/appointmentdetails/index">Index Component</router-link></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-hospital-o"></i> <span> Department </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><router-link to="/departmentdetails/create">Create Component</router-link></li>
                                <li><router-link to="/departmentdetails/index">Index Component</router-link></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-calendar-check-o"></i> <span> Doctor Schedule </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><router-link to="/scheduledetails/create">Create Component</router-link></li>
                                <li><router-link to="/scheduledetails/index">Index Component</router-link></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-calendar-check-o"></i> <span> Front Appointment </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><router-link to="/frontdetails/index">Index Component</router-link></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
                                <span class="dash-widget-bg1"><i class="fa fa-stethoscope" aria-hidden="true"></i></span>
                                <div class="dash-widget-info text-right">
                                    <h3 v-if="doctor.length">{{doctor.length}}</h3>
                                    <span class="widget-title1">Doctors <i class="fa fa-check" aria-hidden="true"></i></span>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
                            <span class="dash-widget-bg2"><i class="fa fa-user-o"></i></span>
                            <div class="dash-widget-info text-right">
                                <h3 v-if="patient.length">{{patient.length}}</h3>
                                <span class="widget-title2">Patients <i class="fa fa-check" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
                            <span class="dash-widget-bg3"><i class="fa fa-user-md" aria-hidden="true"></i></span>
                            <div class="dash-widget-info text-right">
                                <h3 v-if="appointment.length">{{appointment.length}}</h3>
                                <span class="widget-title3">Appointment <i class="fa fa-check" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
                            <span class="dash-widget-bg4"><i class="fa fa-heartbeat" aria-hidden="true"></i></span>
                            <div class="dash-widget-info text-right">
                                <h3 v-if="department.length">{{department.length}}</h3>
                                <span class="widget-title4">Department <i class="fa fa-check" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
    
</template>
<script>
    import SidebarComponent from './SidebarComponent.vue';
    export default{
        data:function(){
            return{
                doctor:[],
                patient:[],
                appointment:[],
                department:[]
            }
        },
        components:{
            'Sidebar':SidebarComponent
        },
        methods:{
            logout:function(){
                localStorage.removeItem('token')
                this.$router.push('/login')
            }
        },
        created:function(){
            axios.get('api/doctor-count')
            .then((response)=>this.doctor = response.data)
            .catch((error)=>console.log(error))

            axios.get('api/patient-count')
            .then((response)=>this.patient = response.data)
            .catch((error)=>console.log(error))

            axios.get('api/appoint-count')
            .then((response)=>this.appointment = response.data)
            .catch((error)=>console.log(error))

            axios.get('api/dept-count')
            .then((response)=>this.department = response.data)
            .catch((error)=>console.log(error))
        }
    }
</script>
<style></style>