<template>
  <div>
			 <!-- Content -->
        <div class="main-content account-content">
            <div class="content">
                <div class="container">
                    <div class="account-box">
                        <div class="appointment">
                            <ul class="nav nav-tabs nav-justified">
                                <li class="nav-item"> 
									<a href="#clinic-consultation" data-toggle="tab" aria-expanded="false" class="nav-link active"><span>Clinic Consultation</span></a>
                                </li>
                                <li class="nav-item"> 
									<a href="#online-consultation" data-toggle="tab" aria-expanded="true" class="nav-link"><span>Online Consultation</span></a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="clinic-consultation">
                                <h2 v-if="inserted" class= "alert alert-success">{{inserted}}</h2>
                                    <form>
                                        <div class="form-group">
                                            <label>Name <span class="text-red">*</span>
                                            </label>
                                            <input type="text" class="form-control" v-model="details.name">
                                        </div>
                                        <div class="form-group">
                                            <label>Email <span class="text-red">*</span>
                                            </label>
                                            <input type="text" class="form-control" v-model="details.email">
                                        </div>
                                        <div class="form-group">
                                            <label>Mobile <span class="text-red">*</span>
                                            </label>
                                            <input type="text" class="form-control" v-model="details.mobile">
                                        </div>
                                        <div class="form-group">
                                            <label>Select Consultation Type <span class="text-red">*</span>
                                            </label>
                                            <select  v-model="selected">
                                                <option value="">Please select</option>
                                                <option v-for="dept in dept" v-bind:value="dept.id">{{dept.name}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Message (optional)</label>
                                            <textarea class="form-control" v-model="details.message"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label class="display-block">Appointment Status</label>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="text" name="status" v-model="details.option">
                                                <label class="form-check-label" for="product_inactive">
                                                Agree
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group text-center m-b-0">
                                            <input type="submit" class="btn btn-primary account-btn" value="Submit" v-on:click="submit">
                                        </div>
                                    </form>
                                </div>
                                {{selected}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</template>
<script>
    export default{
   
        data:function(){
            return{
                selected:'',
                inserted:'',
                details:{},
                dept:{}
            }
        },
        
       methods:{
            submit:function(){
               
               axios.post('api/front-update',{
               "front_id":this.details.id,
                "name" : this.details.name,
                "email": this.details.email,
                "mobile" : this.details.mobile,
                "department" :this.selected,
                "status" : this.details.option,
                "message" :this.details.message
               })

               .then((response)=>this.inserted = response.data.message)
               .catch((error)=>console.log(error))
            }
       },

       created:function(){
            axios.get('api/front-dept')
            .then((response)=>this.dept= response.data)
            .catch((error)=>console.log(error))
       },
        mounted:function(){
            let id = this.$route.params.id;
            axios.get('api/front-edit/'+id)
            .then((response)=>this.details = response.data)
            .catch((error)=>console.log(error))
        }
    }
</script>
<style></style>