<template>
	<div>
		<div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <h4 class="page-title">Add Appointment</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                    <h2 v-if="inserted" class= "alert alert-success">{{inserted}}</h2>
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
										<label>Appointment ID</label>
										<input class="form-control" type="text" value="APT-0001" readonly="">
									</div>
                                </div>
                                <div class="col-md-6">
									<div class="form-group">
										<label>Patient Name</label>
										<select  v-model="patient">
                                        <option disabled>Please Choose One</option>
                                            <option class="form-control" v-for="p in patientDetails" :value="p.id">{{p.name}}</option>
                                        </select>
									</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Department</label>
                                        <select  v-model="department">
                                            <option value="" disabled>Please Choose One</option>
                                            <option v-for="departmentDetail in departmentDetails" v-bind:value="departmentDetail.id">{{departmentDetail.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Doctor</label>
                                        <select  v-model="doctor">
											<option value="" disabled>Please Choose One</option>
											<option v-bind:value="doctorDetail.id" v-for="doctorDetail in doctorDetails">{{doctorDetail.name}}</option>
										</select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Date</label>
                                        <div class="cal-icon">
                                            <input type="date" class="form-control " v-model.text="date">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Time</label>
                                        <div class="time-icon">
                                            <input type="time" class="form-control" v-model="time">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Patient Email</label>
                                        <input class="form-control" type="email" v-model="email">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Patient Phone Number</label>
                                        <input class="form-control" type="text" v-model="phone">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Message</label>
                                <textarea cols="30" rows="4" class="form-control" v-model="message"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="display-block">Appointment Status</label>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="status" id="product_active" value="1" v-model.number="option">
									<label class="form-check-label" for="product_active">
									Active
									</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="status" id="product_inactive" value="2" v-model.number="option">
									<label class="form-check-label" for="product_inactive">
									Inactive
									</label>
								</div>
                            </div>
                           <h2>{{time}}</h2>
                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary submit-btn" v-on:click=create()>Create Appointment</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
	</div>
</template>
<script>
    export default{
        data:function(){
            return{
                patientDetails:{},
                departmentDetails:{},
                doctorDetails:{},
                date   : '',
                time   : '',
                phone  : '',
                email  : '',
                option :'',
                message:'',
                patient : '',
                department : '',
                doctor : '',
                inserted:''
            }
        },
        methods:{
            

            
            create:function(){
                axios.post('api/appointment-store',{
                    "patient_name" : this.patient,
                    "department"   : this.department,
                    "doctor"       : this.doctor,
                    "date"         : this.date,
                    "time"         : this.time,
                    "patient_email": this.email,
                    "message"      : this.message,
                    "status"       : this.option,
                    "phone"        : this.phone
                })
                .then((response)=> this.inserted = response.data.message)
                .catch((error)=>console.log(error))
            }

        },

        created:function(){
            axios.get('api/patient')
            .then((response)=>this.patientDetails = response.data)
            .catch((error)=>console.log(error))

            axios.get('api/department')
                .then((response)=>this.departmentDetails = response.data)
                .catch((error)=> console.log(error))

            axios.get('api/doctor')
                .then((response)=>this.doctorDetails = response.data)
                .catch((error)=>console.log(error))
        }
    }
</script>
<style></style>