<template>
	<div>
		<div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">Appointments</h4>
                    </div>
                    <div class="col-sm-8 col-9 text-right m-b-20">
                        <router-link to="/appointmentdetails/create" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Add Appointment</router-link>
                    </div>
                </div>
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive">
							<table id="example" class="table table-striped dt-responsive nowrap" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th>Appointment ID</th>
										<th>Patient Name</th>
										<th>Email</th>
										<th>Doctor Name</th>
										<th>Department</th>
										<th>Appointment Date</th>
										<th>Appointment Time</th>
										<th>Status</th>
										<th class="text-right">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="(appointDetail,index) in appointDetails.data">
										<td>{{index+1}}</td>
										<td><img width="28" height="28" src="assets/img/user.jpg" class="rounded-circle m-r-5"> {{appointDetail.patient_name}}</td>
										<td>{{appointDetail.patient_email}}</td>
										<td>{{appointDetail.doctor}}</td>
										<td>{{appointDetail.department}}</td>
										<td>{{Date('d-M-Y',appointDetail.date)}}</td>
										<td>{{Date('d-M-Y',appointDetail.time)}}</td>
										<td ><span v-if="appointDetail.status == 1" class="custom-badge status-green">Active</span>
										<span v-if="appointDetail.status == 2" class="custom-badge status-red">InActive</span>
										</td>
										<td>
											<router-link :to="{name:'editAppoint', params:{id:appointDetail.id}}" class="btn btn-primary">Edit</router-link>

											<button  class="btn btn-danger  btn-rounded float-right"  v-on:click="deleteDetails(appointDetail.id)">Delete</button>
										</td>
									</tr>
									<pagination :data="appointDetails" @pagination-change-page="getResults"></pagination>
								</tbody>
							</table>
							

						</div>
					</div>
                </div>
            </div>
           
        </div>
	</div>
</template>
<script>
 
	export default{
		data:function(){
			return{
				appointDetails:{},
				appointEdit:{}
			}
		},
		methods:{
			editDetails:function(id){
				axios.get('api/appointment-edit/'+id)
				.then((response)=>this.appointEdit = response.data)
				.catch((error)=>console.log(error))
			},
			deleteDetails:function(id){
                axios.get('api/appointment-delete/'+id)
                .then((response)=> this.appointDetails = response.data)
                .catch((error)=>console.log(error))
            },
            getResults(page = 1) {
			axios.get('api/appointment-index?page=' + page)
				.then(response => {
					this.appointDetails = response.data;
				});
			}
		},

		
		created:function(){
			axios.get('api/appointment-index')
			.then((response)=>this.appointDetails = response.data)
			.catch((error)=>console.log(error))
		}
	}
</script>
<style></style>