<template>
	<div>
		<div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <h4 class="page-title">Add Schedule</h4>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-8 offset-md-2">
                    <h2 v-if="inserted" class= "alert alert-success">{{inserted}}</h2>
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
										<label>Doctor Name</label>
										
                                            <select v-model="selected">
                                                <option v-bind:value="doctor.id" v-for="doctor in doctorname">{{doctor.name}}</option>
                                            </select>
									</div>
                                </div>
                                <div class="col-md-6">
									<div class="form-group">
										<label>Available Days</label>
										<select v-model="weekday" multiple class="form-control">
                                            <option v-bind:value="week.id" v-for="week in weekdays">{{week.name}}</option>
                                        </select>
									</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Date</label>
                                        <div class="time-icon">
                                            <input type="date" class="form-control" v-model="dates">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>End Time</label>
                                        <div class="time-icon">
                                            <input type="time" class="form-control"  v-model="time">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Message</label>
                                <textarea cols="30" rows="4" class="form-control" v-model="message"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="display-block">Schedule Status</label>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="status" id="product_active" value="1" v-model.number="status">
									<label class="form-check-label" for="product_active">
									Active
									</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="status" id="product_inactive" value="2" v-model.number="status">
									<label class="form-check-label" for="product_inactive">
									Inactive
									</label>
								</div>
                            </div>
                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary submit-btn" v-on:click="create()">Create Schedule</button>
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
	</div>
</template>
<script>
    export default{
        data:function(){
            return{
                dates:'',
                time:'',
                message:'',
                status:'',
                inserted: '',
                doctorname:{},
                selected:'',
                weekdays:{},
                weekday:[]
            }

        },
        methods:{
           
            create:function(){
                axios.post('api/schedule-store',{
                    "doc_name" : this.selected,
                    "date"     : this.dates,
                    "time"     : this.time,
                    "message"  : this.message,
                    "status"   : this.status,
                    "weekday"  : this.weekday
                    
                })
                .then((response)=>this.inserted = response.data.message)
                .catch((error)=>console.log(error))
            }
        },

        created:function(){
            axios.get('api/doctorname')
            .then((response)=>this.doctorname = response.data)
            .catch((error)=>console.log(error))

            axios.get('api/weekday')
            .then((response)=> this.weekdays = response.data)
            .catch((error)=>console.log(error))
        }
    }
</script>
<style></style>