<template>
	<div>
		<div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">Schedule</h4>
                    </div>
                    <div class="col-sm-8 col-9 text-right m-b-20">
                        <a href="add-schedule.html" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Add Schedule</a>
                    </div>
                </div>
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table table-border table-striped custom-table m-b-0">
								<thead>
									<tr>
										<th>S.No</th>
										<th>Doctor Name</th>
										<th>Date</th>
										<th>Time</th>
										<th>Weekday</th>
										<th>Status</th>
										<th class="text-right">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="(scheduleDetail,index) in scheduleDetails.data">
										<td>{{scheduleDetails.current_page-1}}{{index}}</td>
										<td>{{scheduleDetail.doc_name}}</td>
										<td>{{scheduleDetail.date}}</td>
										<td>{{scheduleDetail.time}}</td>
										<td>
											<ul v-for="sc in scheduleDetail.schedule_weekday">
												<li>{{sc.weekday.name}}</li>
											</ul>
									    </td>
									    <td>
											<router-link :to="{name:'editSchedule', params:{id:scheduleDetail.id}}" class="btn btn-primary">Edit</router-link>

											<button  class="btn btn-danger  btn-rounded float-right"  v-on:click="deleteDetails(scheduleDetail.id)">Delete</button>
										</td>
									</tr>
									<pagination :data="scheduleDetails" @pagination-change-page="getResults"></pagination>
										
									</tr>
						
								</tbody>
							</table>
						</div>
                </div>
                </div>
            </div>
        </div>
	</div>
</template>
<script>
	export default{
		data:function(){
			return{
				scheduleDetails:{},
				
			}
		},
		created:function(){
			axios.get('api/schedule-index')
			.then((response)=> this.scheduleDetails = response.data)
			.catch((error)=>console.log(error))

			
		},
		methods:{
			 getResults(page = 1) {
            axios.get('api/schedule-index?page=' + page)
                .then(response => {
                    this.scheduleDetails = response.data;
                });
            },
            deleteDetails:function(id){
                axios.get('api/schedule-delete/'+id)
                .then((response)=>this.scheduleDetails = response.data)
                .catch((error)=>console.log(error))
            },
		}
	}
</script>
<style></style>
