<template>
	<div>
		<div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <h4 class="page-title">Edit Doctor</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <form>
                            <div class="row">
                            <input type="hidden" name="" v-model="details.id">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>First Name <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" v-model="details.name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Email <span class="text-danger">*</span></label>
                                        <input class="form-control" type="email" v-model="details.email">
                                    </div>
                                </div>
                                <div class="col-sm-6">
									<div class="form-group gender-select">
										<label class="gen-label">Gender:</label>
										<div class="form-check-inline">
											<label class="form-check-label">
												<input type="radio" name="gender" class="form-check-input" v-model.number="details.gender" value="1"   :checked="details.gender==1">Male
											</label>
										</div>
										<div class="form-check-inline">
											<label class="form-check-label">
												<input type="radio" name="gender" class="form-check-input" v-model.number="details.gender" value="2"   :checked="details.gender==2">Female
											</label>
										</div>
									</div>
                                </div>
								<div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Phone </label>
                                        <input class="form-control" type="text" v-model="details.phone">
                                    </div>
                                </div>
                                <div class="col-sm-6">
									<div class="form-group">
										<label>Avatar</label>
										<div class="profile-upload">
											<div class="upload-img">
												<img alt="" src="assets/img/user.jpg">
											</div>
											<div class="upload-input">
												<input type="file" class="form-control"  v-on:change="onImageChange">
											</div>
										</div>
									</div>
                                </div>
                            </div>
							<div class="m-t-20 text-center">
                                <button class="btn btn-primary submit-btn" v-on:click="update()">Update Doctor</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
	</div>
</template>
<script>
export default{
	
	data:function(){
		return{
			message:'',
			details:{},
			image:''
		}
	},

	methods:{
		onImageChange(e){
				let files = e.target.files || e.dataTransfer.files;
				if(!files.length)
					return;
				this.createImage(files[0]);
				},
				createImage(file){
					let reader = new FileReader();
					let vm = this;
					reader.onload = (e) => {
						vm.image = e.target.result;
					};
					reader.readAsDataURL(file);
				},

		update:function(){
			axios.post('api/doctor-update',{
				"doctor_id" : this.details.id,
				"name"      : this.details.name,
				"email"     : this.details.email,
				"phone"     : this.details.phone,
				"gender"    : this.details.gender,
				"image"     : this.image
			})
			.then((response)=>this.message = response.data)
			.catch((error) =>console.log(error))

		}
	},
	mounted:function(){
		let id = this.$route.params.id
		axios.get('api/doctor-edit/'+id)
		.then((response)=>this.details = response.data)
		.catch((error)=> console.log(error))
	}
	
}
</script>
<style></style>