<template>
	<div>
            <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-border table-striped">
                                <thead>
                                    <tr>
                                        <th>S.no</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Gender</th>
                                        <th>Phone</th>
                                        <th>Image</th>
                                        <th>Action</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(doctor ,index) in tasks.data">
                                        
                                        <td>{{index+1}}</td>
                                        <td>{{doctor.name}}</td>
                                        <td>{{doctor.email}}</td>
                                        <td v-if="doctor.gender == 1">Male</td>
                                        <td v-else="doctor.gender == 2">Female</td>
                                        <td>{{doctor.phone}}</td>
                                        <td>
                                            <img v-if="doctor.image" v-bind:src="'images/'+doctor.image" class="img-responsive">

                                            <p v-else>Not found</p>
                                        </td>
                                        <td>
                                            <router-link :to="{name:'editDoctor',params:{id:doctor.id}}"class="btn btn btn-primary btn-rounded float-right">Edit</router-link>

                                            <button  class="btn btn-danger  btn-rounded float-right"  v-on:click="deleteDetails(doctor.id)">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                                <pagination :data="tasks" @pagination-change-page="getResults"></pagination>
                            </table>
                        </div>
                    </div>
            </div>
    </div>
</template>

<script>
  
    export default{
        data:function(){
            return{
                tasks:{},
                editRec:{},
                
            }
        },

        methods:{
            deleteDetails:function(id){
                axios.get('api/doctor-delete/'+id)
                .then((response)=>this.tasks = response.data)
                .catch((error)=>console.log(error))
            },
            editDetails:function(id){
                axios.get('api/doctor-edit/'+id)
                .then((response) =>this.editRec = response.data)
                .catch((error)=>console.log(error))
            },
            getResults(page = 1) {
            axios.get('api/doctor-index?page=' + page)
                .then(response => {
                    this.tasks = response.data;
                });
            }
        },
        created:function(){
            axios.get('api/doctor-index')
            .then((response)=> this.tasks = response.data)
            .catch((error)=>console.log(error))
            

        }

    }
</script>
<style></style>