<template>
	<div>
		<div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <h4 class="page-title">Add Department</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <form>
							<div class="form-group">
								<label>Department Name</label>
								<input class="form-control" type="text" v-model="name">
							</div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea cols="30" rows="4" class="form-control" v-model="description"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="display-block">Department Status</label>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="status" id="product_active" value="1" checked v-model.number="status">
									<label class="form-check-label" for="product_active">
									Active
									</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="status" id="product_inactive" value="2" v-model.number="status">
									<label class="form-check-label" for="product_inactive">
									Inactive
									</label>
								</div>
                            </div>
                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary submit-btn" v-on:click="create()">Create Department</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <h2> {{inserted}} </h2>
        </div>
	</div>
</template>
<script>
    export default{
        data:function(){
            return{
                name : '',
                description : '',
                status : '',
                inserted:''
            }
        },
        methods:{
            create:function(){
                axios.post('api/department-store',{
                    "name" : this.name,
                    "description" : this.description,
                    "status" : this.status
                })
                .then((response) =>this.inserted = response.data.message)
                .catch((error)=> console.log(error))
            }
        }
    }
</script>
<style></style>