<template>
	<div>
		<div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-5 col-5">
                        <h4 class="page-title">Departments</h4>
                    </div>
                    <div class="col-sm-7 col-7 text-right m-b-30">
                        <a href="add-department.html" class="btn btn-primary btn-rounded"><i class="fa fa-plus"></i> Add Department</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table m-b-0 datatable">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Department Name</th>
                                        <th>Description</th>
                                        <th>Status</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(departmentDetail,index) in departmentDetails.data">
                                        <td>{{index+1}}</td>
                                        <td>{{departmentDetail.name}}</td>
                                        <td>{{departmentDetail.description}}</td>
										<td><span v-if="departmentDetail.status == 1" class="custom-badge status-green">Active</span>
                                        <span v-if="departmentDetail.status == 2" class="custom-badge status-red">Active</span>
                                        </td>
                                        <td>
                                            <router-link :to="{name:'editDepart', params:{id:departmentDetail.id}}" class="btn btn-primary">Edit</router-link>

                                            <button  class="btn btn-danger  btn-rounded float-right"  v-on:click="deleteDetails(departmentDetail.id)">Delete</button>

                                        </td>
                                    </tr>
                                    <pagination :data="departmentDetails" @pagination-change-page="getResults"></pagination>
                                </tbody>
                            </table>
                            
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>    
	</div>
</template>
<script>

    export default{
        data:function(){
            return{
                departmentDetails: {},
                departmentEdits:{}
            }
        },
        methods:{
            editDetails:function(id){
                axios.get('api/department-edit/'+id)
                .then((response)=>this.departmentEdits = response.data)
                .catch((error)=>console.log(error))
            },
            deleteDetails:function(id){
                axios.get('api/department-delete/'+id)
                .then((response)=> this.departmentDetails = response.data)
                .catch((error)=>console.log(error))
            },
            getResults(page = 1) {
            axios.get('api/department-index?page=' + page)
                .then(response => {
                    this.departmentDetails = response.data;
                });
            }
        },
        
        created:function(){
            axios.get('api/department-index')
            .then((response)=> this.departmentDetails = response.data)
            .catch((error)=>console.log(error))
        },
    }
</script>
<style></style>