<template>
	<div>
			 <!-- Content -->
        <div class="main-content account-content">
            <div class="content">
                <div class="container">
                    <div class="account-box">
                        <div class="appointment">
                            <ul class="nav nav-tabs nav-justified">
                                <li class="nav-item"> 
									<a href="#clinic-consultation" data-toggle="tab" aria-expanded="false" class="nav-link active"><span>Clinic Consultation</span></a>
                                </li>
                                <li class="nav-item"> 
									<a href="#online-consultation" data-toggle="tab" aria-expanded="true" class="nav-link"><span>Online Consultation</span></a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="clinic-consultation">
                                <h2 v-if="inserted" class= "alert alert-success">{{inserted}}</h2>
                                    <form>
                                        <div class="form-group">
                                            <label>Name <span class="text-red">*</span>
                                            </label>
                                            <input type="text" class="form-control" v-model="name">
                                        </div>
                                        <div class="form-group">
                                            <label>Email <span class="text-red">*</span>
                                            </label>
                                            <input type="text" class="form-control" v-model="email">
                                        </div>
                                        <div class="form-group">
                                            <label>Mobile <span class="text-red">*</span>
                                            </label>
                                            <input type="text" class="form-control" v-model="mobile">
                                        </div>
                                        <div class="form-group">
                                            <label>Select Consultation Type <span class="text-red">*</span>
                                            </label>
                                            <select  v-model="selected">
                                                <option value="">Please select</option>
                                                <option v-for="dept in details" v-bind:value="dept.id">{{dept.name}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Message (optional)</label>
                                            <textarea class="form-control" v-model="message"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label class="display-block">Appointment Status</label>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="status" id="product_inactive" value="1" v-model.number="option">
                                                <label class="form-check-label" for="product_inactive">
                                                Agree
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group text-center m-b-0">
                                            <input type="submit" class="btn btn-primary account-btn" value="Submit" v-on:click="submit">
                                        </div>
                                    </form>
                                </div>
                                <h2>{{option}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</template>
<script>
	export default{
	   data:function(){
        return{
            details:{},
            selected:'',
            option:'',
            name:'',
            email:'',
            mobile:'',
            inserted:'',
            message:''

        }
       },

       methods:{
            submit:function(){
               
               axios.post('api/front-store',{
                "name" : this.name,
                "email": this.email,
                "mobile" : this.mobile,
                "department" :this.selected,
                "status" : this.option,
                "message" :this.message
               })

               .then((response)=>this.inserted = response.data.message)
               .catch((error)=>console.log(error))
            }
       },

       created:function(){
            axios.get('api/front-appoin')
            .then((response)=>this.details = response.data)
            .catch((error)=>console.log(error))
       }
	}
</script>