<template>

		 <!-- Content -->
        <div class="main-content">
            <!-- Page Header -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title">
								<span>Departments</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="content departments">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-header text-center">
                                <h3 class="header-title">Dept Summary Details</h3>
                                <div class="line"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row department-row">
                        <div class="col-md-4">
                            <div class="dept-box">
                                <div class="dept-img"> 
									<a href="department-details.html"><img width="67" height="80" alt="Dentists" src="/img/icon-04.png"></a>
                                </div>
                                <h4><a href="department-details.html">Dentists</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    tempor.
								</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="dept-box">
                                <div class="dept-img"> 
									<a href="department-details.html"><img width="63" height="80" alt="Neurology" src="/img/icon-05.png"></a>
                                </div>
                                <h4><a href="department-details.html">Neurology</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    tempor.
								</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="dept-box">
                                <div class="dept-img"> 
									<a href="department-details.html"><img width="92" height="80" alt="Opthalmology" src="/img/icon-06.png"></a>
                                </div>
                                <h4><a href="department-details.html">Opthalmology</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    tempor.
								</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="dept-box">
                                <div class="dept-img"> 
									<a href="department-details.html"><img width="40" height="80" alt="Orthopedics" src="/img/icon-07.png"></a>
                                </div>
                                <h4>
									<a href="department-details.html">Orthopedics</a>
								</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    tempor.
								</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="dept-box">
                                <div class="dept-img">
									<a href="department-details.html"><img width="76" height="80" alt="Cancer Department" src="/img/icon-08.png"></a>
                                </div>
                                <h4><a href="department-details.html">Cancer Department</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    tempor.
								</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="dept-box">
                                <div class="dept-img"> 
									<a href="department-details.html"><img width="47" height="80" alt="ENT Department" src="/img/icon-09.png"></a>
                                </div>
                                <h4><a href="department-details.html">ENT Department</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    tempor.
								</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="see-all m-t-0"> 
								<button type="button" class="btn btn-primary see-all-btn">Load More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section meet-doctors">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-header text-center">
                                <h3 class="header-title">Meet our Doctors</h3>
                                <div class="line"></div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus
                                    nec dui venenatis dignissim. Aenean vitae metus in augue pretium ultrices.
                                    Duis dictum eget dolor vel blandit.
								</p>
                            </div>
                        </div>
                    </div>
                    <div id="our_doctor" class="owl-carousel text-center">
                        <div class="item">
                            <div class="doctor text-center"> 
								<a href="doctor-details.html">
									<img src="/img/doctor-thumb-01.jpg" alt="Dr. Albert Sandoval" class="rounded-circle" width="150" height="150">
									<div class="doctors-name">Dr. Albert Sandoval</div>
									<div class="doctors-position">Neurologist</div>
								</a>
                            </div>
                        </div>
                        <div class="item"> 
							<a href="doctor-details.html">
								<div class="doctor text-center">
									<img src="/img/doctor-thumb-02.jpg" alt="Dr. Linda Barrett" class="rounded-circle" width="150" height="150">
									<div class="doctors-name">Dr. Linda Barrett</div>
									<div class="doctors-position">Dentist</div>
								</div>
							</a>
                        </div>
                        <div class="item">
                            <div class="doctor text-center"> 
								<a href="doctor-details.html">
									<img src="/img/doctor-thumb-03.jpg" alt="Dr. Cristina Groves" class="rounded-circle" width="150" height="150">
									<div class="doctors-name">Dr. Cristina Groves</div>
									<div class="doctors-position">Gynecologist</div>
								</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="doctor text-center"> 
								<a href="doctor-details.html">
									<img src="/img/doctor-thumb-04.jpg" alt="Dr. Henry Daniels" class="rounded-circle" width="150" height="150">
									<div class="doctors-name">Dr. Henry Daniels</div>
									<div class="doctors-position">Cardiologist</div>
								</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="doctor text-center"> 
								<a href="doctor-details.html">
									<img src="/img/doctor-thumb-05.jpg" alt="Dr. Diana Bailey" class="rounded-circle" width="150" height="150">
									<div class="doctors-name">Dr. Diana Bailey</div>
									<div class="doctors-position">General Surgery</div>
								</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="doctor text-center"> 
								<a href="doctor-details.html">
									<img src="/img/doctor-thumb-06.jpg" alt="Dr. Justin Parker" class="rounded-circle" width="150" height="150">
									<div class="doctors-name">Dr. Justin Parker</div>
									<div class="doctors-position">Physical Therapist</div>
								</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="doctor text-center"> 
								<a href="doctor-details.html">
									<img src="/img/doctor-thumb-07.jpg" alt="Dr. Marie Wells" class="rounded-circle" width="150" height="150">
									<div class="doctors-name">Dr. Marie Wells</div>
									<div class="doctors-position">Psychiatrist</div>
								</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="doctor text-center">
								<a href="doctor-details.html">
									<img src="/img/doctor-thumb-08.jpg" alt="Dr. Pamela Curtis" class="rounded-circle" width="150" height="150">
									<div class="doctors-name">Dr. Pamela Curtis</div>
									<div class="doctors-position">Pediatrics</div>
								</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="doctor text-center"> 
								<a href="doctor-details.html">
									<img src="/img/doctor-thumb-09.jpg" alt="Dr. Ronald Jacobs" class="rounded-circle" width="150" height="150">
									<div class="doctors-name">Dr. Ronald Jacobs</div>
									<div class="doctors-position">Oncologist</div>
								</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="see-all"> 
								<a href="doctors.html" class="btn btn-primary see-all-btn">See all Doctors</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
		<!-- Content /--> 
</template>

<script>


</script>
<style>

</style>