<template>
	<div>
	     <!-- Content -->
        <div class="main-content">
            <!-- Page Header -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title"> 
								<span>Our Doctors</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-header text-center">
                                <h3 class="header-title">Our Physician Lists</h3>
                                <div class="line"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row doctors-list">
                        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="doctor-list">
                                <div class="doctor-inner">
                                    <img class="img-fluid" alt="" src="/img/doctor-06.jpg">
                                    <div class="doctor-details">
                                        <div class="doctor-info">
                                            <h4 class="doctor-name"><a href="doctor-details.html">Dr. Justin Parker MBBS, FDS</a></h4>
                                            <p>
												<span class="depart">Physical Therapist</span>
                                            </p>
                                        </div>
                                        <ul class="social-list">
                                            <li>
												<a class="facebook" href="#"><i class="fa fa-twitter"></i></a>
                                            </li>
                                            <li>
												<a class="twitter" href="#"><i class="fa fa-facebook"></i></a>
                                            </li>
                                            <li>
												<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                                            </li>
                                            <li>
												<a class="g-plus" href="#"><i class="fa fa-google-plus"></i></a>
                                            </li>
                                        </ul>
                                        <div class="view-profie"> 
											<a href="doctor-details.html">View Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="doctor-list">
                                <div class="doctor-inner">
                                    <img class="img-fluid" alt="" src="/img/doctor-09.jpg">
                                    <div class="doctor-details">
                                        <div class="doctor-info">
                                            <h4 class="doctor-name">
												<a href="doctor-details.html">Dr. Ronald Jacobs MBBS, FDS</a></h4>
                                            <p>
												<span class="depart">Oncologist</span>
                                            </p>
                                        </div>
                                        <ul class="social-list">
                                            <li>
												<a class="facebook" href="#"><i class="fa fa-twitter"></i></a>
                                            </li>
                                            <li>
												<a class="twitter" href="#"><i class="fa fa-facebook"></i></a>
                                            </li>
                                            <li>
												<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                                            </li>
                                            <li>
												<a class="g-plus" href="#"><i class="fa fa-google-plus"></i></a>
                                            </li>
                                        </ul>
                                        <div class="view-profie"> <a href="doctor-details.html">View Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="doctor-list">
                                <div class="doctor-inner">
                                    <img class="img-fluid" alt="" src="/img/doctor-01.jpg">
                                    <div class="doctor-details">
                                        <div class="doctor-info">
                                            <h4 class="doctor-name"><a href="doctor-details.html">Dr. Albert Sandoval MBBS, FDS</a></h4>
                                            <p>
												<span class="depart">Neurologist</span>
                                            </p>
                                        </div>
                                        <ul class="social-list">
                                            <li>
												<a class="facebook" href="#"><i class="fa fa-twitter"></i></a>
                                            </li>
                                            <li>
												<a class="twitter" href="#"><i class="fa fa-facebook"></i></a>
                                            </li>
                                            <li>
												<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                                            </li>
                                            <li>
												<a class="g-plus" href="#"><i class="fa fa-google-plus"></i></a>
                                            </li>
                                        </ul>
                                        <div class="view-profie"> 
											<a href="doctor-details.html">View Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="doctor-list">
                                <div class="doctor-inner">
                                    <img class="img-fluid" alt="" src="/img/doctor-02.jpg">
                                    <div class="doctor-details">
                                        <div class="doctor-info">
                                            <h4 class="doctor-name"><a href="doctor-details.html">Dr. Linda Barrett MBBS, FDS</a></h4>
                                            <p>
												<span class="depart">Dentist</span>
                                            </p>
                                        </div>
                                        <ul class="social-list">
                                            <li>
												<a class="facebook" href="#"><i class="fa fa-twitter"></i></a>
                                            </li>
                                            <li>
												<a class="twitter" href="#"><i class="fa fa-facebook"></i></a>
                                            </li>
                                            <li>	
												<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                                            </li>
                                            <li>
												<a class="g-plus" href="#"><i class="fa fa-google-plus"></i></a>
                                            </li>
                                        </ul>
                                        <div class="view-profie"> 
											<a href="doctor-details.html">View Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="doctor-list">
                                <div class="doctor-inner">
                                    <img class="img-fluid" alt="" src="/img/doctor-03.jpg">
                                    <div class="doctor-details">
                                        <div class="doctor-info">
                                            <h4 class="doctor-name">
												<a href="doctor-details.html">Dr. Cristina Groves MBBS, FDS</a>
											</h4>
                                            <p>
												<span class="depart">Gynecologist</span>
                                            </p>
                                        </div>
                                        <ul class="social-list">
                                            <li>
												<a class="facebook" href="#"><i class="fa fa-twitter"></i></a>
                                            </li>
                                            <li>
												<a class="twitter" href="#"><i class="fa fa-facebook"></i></a>
                                            </li>
                                            <li>
												<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                                            </li>
                                            <li>
												<a class="g-plus" href="#"><i class="fa fa-google-plus"></i></a>
                                            </li>
                                        </ul>
                                        <div class="view-profie"> 
											<a href="doctor-details.html">View Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="doctor-list">
                                <div class="doctor-inner">
                                    <img class="img-fluid" alt="" src="/img/doctor-04.jpg">
                                    <div class="doctor-details">
                                        <div class="doctor-info">
                                             <h4 class="doctor-name">
												<a href="doctor-details.html">Dr. Henry Daniels MBBS, FDS</a>
											</h4>
                                            <p>
												<span class="depart">Cardiologist</span>
                                            </p>
                                        </div>
                                        <ul class="social-list">
                                            <li>
												<a class="facebook" href="#"><i class="fa fa-twitter"></i></a>
                                            </li>
                                            <li>
												<a class="twitter" href="#"><i class="fa fa-facebook"></i></a>
                                            </li>
                                            <li>
												<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                                            </li>
                                            <li>
												<a class="g-plus" href="#"><i class="fa fa-google-plus"></i></a>
                                            </li>
                                        </ul>
                                        <div class="view-profie">
											<a href="doctor-details.html">View Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="doctor-list">
                                <div class="doctor-inner">
                                    <img class="img-fluid" alt="" src="/img/doctor-05.jpg">
                                    <div class="doctor-details">
                                        <div class="doctor-info">
                                            <h4 class="doctor-name">
												<a href="doctor-details.html">Dr. Diana Bailey MBBS, FDS</a>
											</h4>
                                            <p>
												<span class="depart">General Surgery</span>
                                            </p>
                                        </div>
                                        <ul class="social-list">
                                            <li>
												<a class="facebook" href="#"><i class="fa fa-twitter"></i></a>
                                            </li>
                                            <li>
												<a class="twitter" href="#"><i class="fa fa-facebook"></i></a>
                                            </li>
                                            <li>
												<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                                            </li>
                                            <li>	
												<a class="g-plus" href="#"><i class="fa fa-google-plus"></i></a>
                                            </li>
                                        </ul>
                                        <div class="view-profie"> 
											<a href="doctor-details.html">View Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="doctor-list">
                                <div class="doctor-inner">
                                    <img class="img-fluid" alt="" src="/img/doctor-07.jpg">
                                    <div class="doctor-details">
                                        <div class="doctor-info">
                                            <h4 class="doctor-name">
												<a href="doctor-details.html">Dr. Marie Wells MBBS, FDS</a>
											</h4>
                                            <p>
												<span class="depart">Psychiatrist</span>
                                            </p>
                                        </div>
                                        <ul class="social-list">
                                            <li>
												<a class="facebook" href="#"><i class="fa fa-twitter"></i></a>
                                            </li>
                                            <li>
												<a class="twitter" href="#"><i class="fa fa-facebook"></i></a>
                                            </li>
                                            <li>
												<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                                            </li>
                                            <li>
												<a class="g-plus" href="#"><i class="fa fa-google-plus"></i></a>
                                            </li>
                                        </ul>
                                        <div class="view-profie">
											<a href="doctor-details.html">View Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="doctor-list">
                                <div class="doctor-inner">
                                    <img class="img-fluid" alt="" src="/img/doctor-08.jpg">
                                    <div class="doctor-details">
                                        <div class="doctor-info">
                                            <h4 class="doctor-name">
												<a href="doctor-details.html">Dr. Pamela Curtis MBBS, FDS</a>
											</h4>
                                            <p>
												<span class="depart">Pediatrics</span>
                                            </p>
                                        </div>
                                        <ul class="social-list">
                                            <li>
												<a class="facebook" href="#"><i class="fa fa-twitter"></i></a>
                                            </li>
                                            <li>
												<a class="twitter" href="#"><i class="fa fa-facebook"></i></a>
                                            </li>
                                            <li>
												<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                                            </li>
                                            <li>
												<a class="g-plus" href="#"><i class="fa fa-google-plus"></i></a>
                                            </li>
                                        </ul>
                                        <div class="view-profie">
											<a href="doctor-details.html">View Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center"> 
							<a href="#" class="btn btn-primary load-more">Load More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!-- Content /-->
	</div>
</template>
<script></script>
<style></style>
