<template>
	<div>
		 <div class="main-wrapper account-wrapper">
        <div class="account-page">
			<div class="account-center">
				<div class="account-box">
                    <form action="#" class="form-signin">
						<div class="account-logo">
                            <a href="index.html"><img src="/img/logo-dark.png" alt="Medifab"></a>
                        </div>
                        <div class="form-group">
                            <label> Email</label>
                            <input type="text" autofocus="" class="form-control" v-model="email">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" v-model="password">
                        </div>
                        <div class="form-group text-right">
                            <a href="forgot-password.html">Forgot your password?</a>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary account-btn" v-on:click="login()">Login</button>
                        </div>
                        <div class="text-center register-link">
                            Don’t have an account? <router-link to="/register">Register Now</router-link>
                        </div>
                    </form>
                </div>
                </div>
        </div>
    </div>
	</div>
</template>
<script>
    export default{
        data:function(){
            return{
                email : '',
                password : ''
            }
        },
        methods:{
            login:function(){
                axios.post('api/login',{
                    "email" : this.email,
                    "password" : this.password
                })
                .then((response)=>{
                    localStorage.setItem('token',response.data)
                    this.$router.push('/dashboard')
                })
                .catch((error)=>console.log(error))
            }
        }
    }
</script>
<style></style>