<template>
    <div>
          <!-- Header -->
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                         <div class="col-md-2 float-left">
                            <div class="logo">
                                <router-link to="/"><img alt="Logo" src="/img/logo.png" width="56" height="50">Logo</router-link>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <nav class="navbar navbar-expand-md p-0">
                                <div class="navbar-collapse collapse" id="navbar">
                                    <ul class="nav navbar-nav main-nav float-right ml-auto">
                                        <li class="active nav-item">
                                            <router-link to="/"  class="nav-link">Home</router-link>
                                        </li>
                                        <li class="nav-item">
                                            <router-link to="/about"  class="nav-link">About Us</router-link>
                                        </li>
                                        <li class="nav-item">
                                            <router-link to="/department"  class="nav-link">Departments</router-link>
                                        </li>
                                        <li class="nav-item">
                                            <router-link to="/service"  class="nav-link">Services</router-link>
                                        </li>
                                        <li class="nav-item">
                                            <router-link to="/doctor"  class="nav-link">Doctors</router-link>
                                        </li>
                                        <li class="nav-item">
                                            <router-link to="/appointment" class="btn btn-primary appoint-btn nav-link">Appointment</router-link>
                                        </li>
                                        <li class="nav-item">
                                            <router-link to="/login" class="nav-link">Login</router-link>
                                        </li>
                                        <li class="nav-item">
                                            <router-link to="/register" class="nav-link">Register</router-link>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header /-->

         <!-- Mobile Header -->
        <header class="mobile-header">
            <div class="panel-control-left">
                <a class="toggle-menu" href="#side_menu"><i class="fa fa-bars"></i></a>
            </div>
            <div class="page_title">
                <router-link to="/"><img alt="Logo" src="/img/logo.png" class="img-fluid" width="60" height="60">Logo</router-link>
            </div>
        </header>
        <!-- Mobile Header /-->
        
        <!-- Mobile Sidebar -->
        <div class="sidebar sidebar-menu" id="side_menu">
            <div class="sidebar-inner slimscroll">
                <a id="close_menu" href="#"><i class="fa fa-close"></i></a>
                <ul class="mobile-menu-wrapper" style="display: block;">
                    <li class="active">
                        <div class="mobile-menu-item clearfix"> 
                            <router-link to="/">Home</router-link>
                        </div>
                    </li>
                    <li>
                        <div class="mobile-menu-item clearfix"> 
                            <router-link to="/about">About Us</router-link>
                        </div>
                    </li>
                    <li>
                        <div class="mobile-menu-item clearfix">
                            <router-link to="/department">Departments</router-link>
                        </div>
                    </li>
                    <li>
                        <div class="mobile-menu-item clearfix"> 
                            <router-link to="/service">Services</router-link>
                        </div>
                    </li>
                    <li>
                        <div class="mobile-menu-item clearfix"> 
                            <router-link to="/doctor">Doctors</router-link>
                        </div>
                    </li>
                    
                    <li>
                        <div class="mobile-menu-item clearfix"> 
                            <router-link to="/appointment">Appointment</router-link>
                        </div>
                    </li>
                    <li>
                        <div class="mobile-menu-item clearfix">
                            <router-link to="/login">Login</router-link>
                        </div>
                    </li>
                    <li>
                        <div class="mobile-menu-item clearfix">
                            <router-link to="/register">Register</router-link>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Mobile Sidebar /-->
        
    </div>
</template>