<template>
	<div>
		<div class="main-wrapper  account-wrapper">
        <div class="account-page">
            <div class="account-center">
                <div class="account-box">
						<div class="account-logo">
                            <a href="index.html"><img src="/img/logo-dark.png" alt="Medifab"></a>
                        </div>
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control" v-model="name">
                        </div>
                        <div class="form-group">
                            <label>Email Address</label>
                            <input type="email" class="form-control" v-model="email">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" v-model="password">
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary account-btn" type="submit" v-on:click="signup()">Signup</button>
                        </div>
                        <div class="text-center login-link">
                            Already have an account? <router-link to="/login">Login</router-link>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
	</div>

</template>
<script>
	export default{
		data:function(){
			return{
                name     : '',
                email    : '',
                password : '',
                inserted   : ''
            }
		},
		methods:{
			signup:function(){
				axios.post('/api/register',{
					"name"     : this.name,
					"email"    : this.email,
					"password" : this.password
				})
				.then((response)=> this.inserted = response.message)
				.catch((error)=>console.log(error))
			}
		}
	}
</script>
<style></style>