<template>
   	<div>
   		<!-- Content -->
        <div class="main-content">
		
            <!-- Page Header -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title"> 
								<span>Our Services</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<!-- Page Header /-->
			
            <section class="content service-list">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-header text-center">
                                <h3 class="header-title">Featured Services</h3>
								<div class="line"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row service-row">
                        <div class="col-md-4">
                            <div class="services-box">
                                <div class="service-icon">
									<a href="service-details.html">
										<i class="fa fa-medkit" aria-hidden="true"></i>
									</a>
                                </div>
                                 <h4>
									<a href="service-details.html">First Aid Treatment</a>
								</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta luctusest interdum</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services-box">
                                <div class="service-icon">
									<a href="service-details.html">
										<i class="fa fa-tint" aria-hidden="true"></i>
									</a>
                                </div>
                                <h4>
									<a href="service-details.html">Blood Bank</a>
								</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta luctusest interdum</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services-box">
                                <div class="service-icon">
									<a href="service-details.html">
										<i class="fa fa-wheelchair" aria-hidden="true"></i>
									</a>
                                </div>
                                <h4><a href="service-details.html">For Disable</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta luctusest interdum</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services-box">
                                <div class="service-icon">
									<a href="service-details.html">
										<i class="fa fa-heartbeat" aria-hidden="true"></i>
									</a>
                                </div>
                                 <h4><a href="service-details.html">Heart Specialist</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta luctus
                                    est interdum
								</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services-box">
                                <div class="service-icon">
									<a href="service-details.html"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                </div>
                                <h4><a href="service-details.html">Eye Care Specialist</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta luctusest interdum</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services-box">
                                <div class="service-icon">
									<a href="service-details.html"><i class="fa fa-h-square" aria-hidden="true"></i></a>
                                </div>
                                <h4><a href="service-details.html">Multi Speciality</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta luctusest interdum</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="other-services">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-header text-center">
                                <h3 class="header-title">Other Services</h3>
                                <div class="line"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row service-row">
                        <div class="col-md-4">
                            <div class="services-box">
                                <div class="service-icon">
									<a href="service-details.html">
										<i class="fa fa-hospital-o" aria-hidden="true"></i>
									</a>
                                </div>
                                <h4><a href="service-details.html">Intensive Care</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta luctusest interdum</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services-box">
                                <div class="service-icon">
									<a href="service-details.html">
										<i class="fa fa-stethoscope" aria-hidden="true"></i>
									</a>
                                </div>
                                <h4>
									<a href="service-details.html">Medical Consultation</a>
								</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta luctusest interdum</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services-box">
                                <div class="service-icon">
									<a href="service-details.html">
										<i class="fa fa-wheelchair" aria-hidden="true"></i>
									</a>
                                </div>
                                <h4><a href="service-details.html">Appointment</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta luctusest interdum</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services-box">
                                <div class="service-icon">
									<a href="service-details.html">
										<i class="fa fa-user-md" aria-hidden="true"></i>
									</a>
                                </div>
                                <h4><a href="service-details.html">Professional Doctors</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta luctusest interdum</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services-box">
                                <div class="service-icon">
									<a href="service-details.html">
										<i class="fa fa-handshake-o" aria-hidden="true"></i>
									</a>
                                </div>
                                <h4><a href="service-details.html">Health Care</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta luctusest interdum</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services-box">
                                <div class="service-icon">
									<a href="service-details.html">
										<i class="fa fa-ambulance" aria-hidden="true"></i>
									</a>
                                </div>
                                <h4><a href="service-details.html">24/7 Ambulance</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta luctusest interdum</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
		<!-- Content /-->
	</div>
</template>
<script></script>
<style></style>