<template>
<div>
	<div class="container">
	<div class="row">
	<div class="col-md-6 offset-md-4">	
	<h2 v-if="inserted" class="alert alert-success">{{inserted}}</h2>	
    <div class="main-wrapper">
        <div class="account-page">
            <div class="container">
                <h3 class="account-title">Change Password</h3>
                <div class="account-box">
                    <div class="account-wrapper">
                        <div class="account-logo">
                            <a href="index.html"><img src="admin/img/Logo_Hospital.png" alt="Medifab"></a>
                        </div>
                        <form>
                            <div class="form-group form-focus">
                                <label class="focus-label">Current Password</label>
                                <input class="form-control floating" type="password" v-model="current_pass">
                            </div>
                            <div class="form-group form-focus">
                                <label class="focus-label">New Password</label>
                                <input class="form-control floating" type="password" v-model="new_pass">
                            </div>
                            <div class="form-group form-focus">
                                <label class="focus-label">New Repeat Password</label>
                                <input class="form-control floating" type="password">
                            </div>
                            <div class="form-group m-b-0 text-center">
                                <button class="btn btn-primary btn-block account-btn" type="submit" v-on:click="change">Change Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
</div>

</template>
<script>
	export default{
		data:function(){
			return{
				"current_pass" : '',
				"new_pass"     : '',
				"inserted"     : ''
			}
		},
		methods:{
			change:function(){
				axios.post('api/password-store',{
					"current_pass" : this.current_pass,
					"new_pass"     : this.new_pass
				})
				.then((response)=>this.inserted = response.data.message)
				.catch((error) => console.log(error))
			}
		}
	}
	
</script>
<style></style>