<template>
	<div>

		<div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <h4 class="page-title">Add Patient</h4>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                   
                    	<h2 v-if="inserted" class="alert alert-success">{{inserted}}</h2>
                    
                        <form>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>First Name <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" v-model = "name">
                                        <ul v-if="error" class="list-unstyle">
                                    	<li v-for="err in error.name" class="alert alert-danger">{{err}}</li>
                                    </ul>
                                    </div>
                                    
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Email <span class="text-danger">*</span></label>
                                        <input class="form-control" type="email" v-model="email">
                                        <ul v-if="error" class="list-unstyle">
                                        	<li v-for="err in error.email" class="alert alert-danger">{{err}}</li>

                                        </ul>
                                    </div>
                                </div>
                               <div class="col-sm-6">
									<div class="form-group gender-select">
										<label class="gen-label">Gender:</label>
										<div class="form-check-inline">
											<label class="form-check-label">
												<input type="radio" name="gender" class="form-check-input" v-model.number="gender" value="1">Male</label>

												<ul v-if="error" class="list-unstyle">
                                        		<li v-for="err in error.gender" class="alert alert-danger">{{err}}</li>

                                       			 </ul>
											</label>
										</div>
										<div class="form-check-inline">
											<label class="form-check-label">
												<input type="radio" name="gender" class="form-check-input" v-model.number="gender" value="2">Female
											</label>
											<ul v-if="error" class="list-unstyle">
                                        		<li v-for="err in error.gender" class="alert alert-danger">{{err}}</li>
                                        		
                                       		</ul>
										</div>
									</div>
                                </div>
								<div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Phone </label>
                                        <input class="form-control" type="text" v-model="phone">
                                        <ul v-if="error" class="list-unstyle">
                                        	<li v-for="err in error.phone" class="alert alert-danger">{{err}}</li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-6">
									<div class="form-group">
										<label>Avatar</label>
										<div class="profile-upload">
											<div class="upload-img">
												<img alt="" src="assets/img/user.jpg">
											</div>
											<div class="upload-input">
												<input type="file" class="form-control" v-on:change="onImageChange">
											</div>
										</div>
									</div>
                                </div>
                            </div>
                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary submit-btn" v-on:click="create()">Create Patient</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
           
        </div>
	</div>
</template>
<script>
	export default{
		data:function(){
			return{
				name  : '',
				email : '',
				phone : '',
				gender: '',
				error : [],
				inserted:'',
                image:''
			}
		},
		methods:{
            onImageChange(e){
                let files = e.target.files || e.dataTransfer.files;
                if(!files.length)
                    return;
                this.createImage(files[0]);
                },
                createImage(file){
                    let reader = new FileReader();
                    let vm = this;
                    reader.onload = (e) => {
                        vm.image = e.target.result;
                    };
                    reader.readAsDataURL(file);
                },
			create:function(){
				axios.post('api/patient-store',{
					"name" : this.name,
					"email": this.email,
					"phone": this.phone,
					"gender": this.gender,
                    "image" :this.image
				})
				.then((response)=>this.inserted = response.data.message)
				.catch((errors)=>this.error = errors.response.data.errors)
			}
		}
	}
</script>
<style></style>