<template>
	<div>
		<div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">Patients</h4>
                    </div>
                    <div class="col-sm-8 col-9 text-right m-b-20">
                        <router-link to="/patientdetails/create" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Add Patient</router-link>
                    </div>
                </div>
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive">

							<table class="table table-border table-striped">
								<thead>
									<tr>
										<th>S.no</th>
										<th>Name</th>
										<th>Email</th>
										<th>Gender</th>
										<th>Phone</th>
										<th>Image</th>
										<th>Action</th>
										
									</tr>
								</thead>
								<tbody>
								
								<tr v-for="(patient ,index) in patientDetails.data">
										
										<td>{{patientDetails.current_page-1}}{{index}}</td>
										<td>{{patient.name}}</td>
										<td>{{patient.email}}</td>
										<td>
											<img v-if="patient.image" :src="'images/'+patient.image" class="img-responsive" width="50" height="50">
										</td>
										<td v-if="patient.gender == 1">Male</td>
										<td v-else="patient.gender == 2">Female</td>
										<td>{{patient.phone}}</td>
										<td>
											<router-link :to="{name:'editCompany', params:{id:patient.id}}" class="btn btn btn-primary btn-rounded float-right">Edit</router-link>

											<button  class="btn btn-danger  btn-rounded float-right"  v-on:click="deleteDetails(patient.id)">Delete</button>
										</td>
									</tr>
								</tbody>
								<pagination :data="patientDetails" @pagination-change-page="getResults"></pagination>
							</table>
						</div>
					</div>
                </div>
            </div>
        </div>    
	</div>
</template>
<script>

	export default{
		data:function(){
			return{
				patientDetails : {},
			    editDetails    : {},
			    
			}
			
		},
		methods:{
			editPatient:function(id){
				axios.get('api/patient-edit'+id)
				.then((response)=>this.editDetails = response.data)
				.catch((error)=>console.log(error))
			},
			deleteDetails:function(id){
			axios.get('api/patient-delete/'+id)
                .then((response)=> this.patientDetails = response.data)
                .catch((error)=>console.log(error))
            },
            getResults(page = 1) {
			axios.get('api/patient-index?page=' + page)
				.then(response => {
					this.patientDetails = response.data;
				});
			}
		},
		created(){
			axios.get('api/patient-index')
			.then((response)=>this.patientDetails = response.data)
			.catch((error)=>console.log(error))
		},
		
	}
</script>
<style></style>